<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Title</title>

    <!-- Title -->
    <title>VibeMusic</title>

    <!-- Favicon -->
    <link rel="icon" th:href="@{/img/core-img/favicon.ico}"/>

    <!-- Stylesheet -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <!--    <link rel="stylesheet" href="/css/playerbar.css" />-->

    <link
            rel="stylesheet"
            th:href="@{/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css}"
            integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
</head>
<body>
<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a th:href="@{/index}" class="nav-brand"><img th:src="@{/img/core-img/logo.png}" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a th:href="@{/index}">Home</a></li>
                                <li><a th:href="@{/albums-store}">Music</a></li>
                                <li><a th:href="@{/chart}">Chart</a></li>
                                <li><a th:href="@{/event}">Event</a></li>
                                <li><a th:href="@{/blog}">News</a></li>
                                <li><a th:href="@{/questions}">Q&A</a></li>
                                <li><a th:href="@{/contact}">Contact</a></li>
                            </ul>

                            <!-- Login/Register & Cart Button -->
                            <div class="login-register-cart-button d-flex align-items-center">
                                <!-- Login/Register -->
                                <div class="login-register-btn mr-50" th:if="${#authentication.principal} == 'anonymousUser'">
                                    <a href="/member/login" id="loginBtn">Login / Register</a>
                                </div>

                                <div class="login-register-btn mr-50" th:if="${#authentication.principal} != 'anonymousUser'">
                                    <a href="/logout">Logout</a>
                                </div>

                                <div class="login-register-btn mr-50" th:if="${#authentication.principal} != 'anonymousUser'">
                                    <a href="/member/modify">회원정보수정</a>
                                </div>

                                <!-- My PlayLists Button -->
                                <div class="d-flex gap-2 mb-3">
                                    <a href="playlist">
                                        <button type="button" class="btn btn-light" th:if="${#authentication.principal} != 'anonymousUser'">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-music-player" viewBox="0 0 16 16">
                                                <path d="M4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V3zm1 0v3h6V3H5zm3 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                                <path d="M11 11a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z"/>
                                            </svg>
                                            My PlayLists
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<div layout:fragment="content">
</div>

<!-- ##### Playerbar Area Start ##### -->


<!--###### Playerbar Area End ######-->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-12 col-md-6">
                <a href="#"><img th:src="@{/img/core-img/logo.png}" alt=""></a>
                <p class="copywrite-text"><a href="#">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by
                    <a th:href="@{/https://colorlib.com}" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>

            <div class="col-12 col-md-6">
                <div class="footer-nav">
                    <ul>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- ##### Footer Area Start ##### -->

<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/bootstrap/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<!-- All Plugins js -->
<script th:src="@{/js/plugins/plugins.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>

<th:block layout:fragment="script"/>

</body>
</html>