<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div layout:fragment="content">
    <section class="breadcumb-area bg-img bg-overlay"
             th:style="'background-image: url(' + @{/img/bg-img/breadcumb3.jpg} + ')'">
        <div class="bradcumbContent">
            <h2>VIBE MUSIC</h2>
            <h3>Join Page</h3>
        </div>
    </section>

    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <h3>WELCOME VIBE MUSIC PAGE</h3>
                        <div class="login-form">
                            <form id="registerForm" action="/member/join" method="post">

                                <div class="form-group">
                                    <label>ID *</label>
                                    <input type="text" name="mid" class="form-control mid" placeholder="아이디를 입력하세요">
                                </div>

                                <div class="form-group">
                                    <label>PASSWORD *</label>
                                    <input type="password" name="mpw" class="form-control mpw" placeholder="비밀번호를 입력하세요">
                                </div>

                                <div class="form-group">
                                    <label>PASSWORD CHECK *</label>
                                    <input type="password" name="mpwCheck" class="form-control mpwCheck" placeholder="비밀번호를 다시 한번 입력하세요">
                                </div>

                                <div class="form-group">
                                    <label>NAME *</label>
                                    <input type="text" name="name" class="form-control name" placeholder="이름을 입력하세요">
                                </div>

                                <div class="form-group">
                                    <label>EMAIL *</label>
                                    <input type="email" name="email" id="mail" class="form-control" placeholder="이메일을 입력하세요">
                                    <br>
                                    <button type="button" id="sendBtn" name="sendBtn">인증번호 발송</button>
                                    <br>
                                    <br>
                                    <input type="text" name="number" id="number" placeholder="인증번호 입력"> <button type="button" name="confirmBtn" id="confirmBtn" onclick="confirmNumber()">인증번호 확인</button>
                                    <input type="text" id="Confirm" name="Confirm" style="display: none" value="">
                                </div>

                                <div class="form-group">
                                    <label>PHONE</label>
                                    <input type="text" name="phone" class="form-control phone" placeholder="전화번호를 입력하세요">
                                </div>

                                <div class="form-group">
                                    <label>ADDRESS</label>
                                    <input type="text" name="address" class="form-control address" placeholder="주소를 입력하세요">
                                </div>

                                <div class="form-group">
                                    <label>BIRTH DATE</label>
                                    <input type="text" name="birthDate" class="form-control birthDate" placeholder="생년월일을 입력하세요">
                                </div>

                                <button type="submit" class="btn oneMusic-btn submitBtn">JOIN</button>
                                <button type="reset" class="btn oneMusic-buy-now-area">RESET</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>

<script layout:fragment="script" th:inline="javascript">

    const error = [[${error}]]
    let mid = document.querySelector(".mid")
    let mpw = document.querySelector(".mpw")
    let mpwCheck = document.querySelector(".mpwCheck")
    let name = document.querySelector(".name")
    let phone = document.querySelector(".phone")

    let result = false;

    let passwordCheck = false;

    document.querySelector(".submitBtn").addEventListener("click", function (e){

        if(mpw.value === mpwCheck.value){
            passwordCheck = true;
        }

        if (error && error === 'mid') {
            e.preventDefault()
            e.stopPropagation()
            alert("동일한 ID를 가진 계정 존재합니다.")
        } else if(mid.value === ''){
            e.preventDefault()
            e.stopPropagation()
            alert("ID는 필수 입력 사항입니다. 입력해주세요.")
        } else if(mpw.value === ''){
            e.preventDefault()
            e.stopPropagation()
            alert("PW는 필수 입력 사항입니다. 입력해주세요.")
        } else if(name.value === ''){
            e.preventDefault()
            e.stopPropagation()
            alert("이름은 필수 입력 사항입니다. 입력해주세요.")
        }

        if(result == false){
            e.preventDefault();
            e.stopPropagation();
            alert("이메일 인증이 완료되지 않았거나 진행하지 않았습니다 확인해주세요.")
        } else if (passwordCheck == false){
            e.preventDefault();
            e.stopPropagation();
            alert("비밀번호와 비밀번호 체크가 다릅니다. 확인하여주세요.")
        }
        alert("회원가입 성공. 로그인을 진행해주세요.")


    })

    function sendNumber(){
        console.log("인증번호 벌송 스크립트 진입....")
        // $("#mail_number").css("display","block");
        $.ajax({
            url:"/mail",
            type:"post",
            dataType:"json",
            data:{"mail" : $("#mail").val()},
            success: function(data){
                alert("인증번호 발송");
                $("#Confirm").attr("value",data);
            }
        });
    }

    document.querySelector("#sendBtn").addEventListener("click", function (e){
        console.log("인증번호 발송 스크립트 진입....sendBtn Click")
        // $("#mail_number").css("display","block");
        $.ajax({
            url:"/mail",
            type:"post",
            dataType:"json",
            data:{"mail" : $("#mail").val()},
            success: function(data){
                alert("인증번호 발송이 완료되었습니다.");
                $("#Confirm").attr("value",data);
            }
            ,error:function (request, status, error){
                alert("code : "+request.status+"/n"+"message :"+request.responseText+"\n"+"error:"+error);
            }
        });
    })

    function confirmNumber() {
        var number1 = $("#number").val();
        var number2 = $("#Confirm").val();

        if(number1 === number2){
            alert("이메일 인증이 완료되었습니다.")
            result = true;
        } else{
            alert("인증 번호가 다릅니다 확인하여주세요.")
        }

    }
</script>

</html>