<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>One Music - Modern Music HTML5 Template</title>

  <!-- Favicon -->
  <link rel="icon" href="img/core-img/favicon.ico">

  <!-- Stylesheet -->
  <link rel="stylesheet" href="/css/style.css">


</head>

<body>
<div layout:fragment="content">

    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
      <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Events</h2>
      </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

            <!-- Single Post Start -->
            <div class = "blog-content">
              <div class = "blog-content">
                <div class = blog-content>
                  <div class = blog-content>

                  </div>

                  <div class="card-title">
                    <h5 class="card-title">Event Board Modify </h5>

                    <div class="card-body">

                      <form action="/eventmodify" method="post" id="f1">

                        <div class="input-group mb-3">
                          <span class="input-group-text">Bno</span>
                          <input type="text" class="form-control" th:value="${dto.ebno}" name="ebno" readonly>
                        </div>

                        <div class="input-group mb-3">
                          <span class="input-group-text">Title</span>
                          <input type="text" class="form-control" name="title" th:value="${dto.title}">
                        </div>

                        <div class="input-group mb-3">
                          <span class="input-group-text">Content</span>
                          <textarea class="form-control col-sm-12" rows="20" name="content">[[${dto.content}]]</textarea>
                        </div>

                        <div class="input-group mb-3">
                          <span class="input-group-text">Writer</span>
                          <input type="text" class="form-control" th:value="${dto.writer}" name="writer" readonly>
                        </div>

                        <div class="my-4">
                          <button type="button" class="listBtn oneMusic-btn mt-30">List</button>
                          <button type="button" class="modBtn oneMusic-btn mt-30">Modify</button>
                          <button type="button" class="removeBtn oneMusic-btn mt-30">Delete</button>
                        </div>

                      </form>
                    </div>

                  </div>
                </div>
              </div>
            </div>


          </div>


        </div>
      </div>
    </div>
    <!-- ##### Blog Area End ##### -->



</div>


<th:block layout:fragment="script"/>
</body>

<!-- ##### All Javascript Script ##### -->
<!-- 메일링 스크립트 -->
<script src="js/email-form/email-form.js"></script>
<script data-cfasync="false" type="text/javascript" src="js/email-form/form-submission-handler.js"></script>
<!-- jQuery-2.2.4 js -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>

<script layout:fragment="script" th:inline="javascript">

  const errors = [[${errors}]];
  console.log(errors);

  let errorMsg = '';

  if (errors) {
    for (let i=0; i<errors.length; i++) {
      errorMsg += `${errors[i].field}은(는) ${errors[i].code}`;
    }
    history.replaceState({}, null, null);
    alert(errorMsg);
  }

  const link = [[${pageRequestDTO.getLink()}]];
  console.log(link);
  const formObj = document.querySelector("#f1");

  document.querySelector(".modBtn").addEventListener("click", function (e) {
    e.preventDefault();
    e.stopPropagation();

    formObj.action = `/eventmodify`;
    formObj.method = 'post';
    formObj.submit();

  }, false)

  document.querySelector(".removeBtn").addEventListener("click", function (e) {
    e.preventDefault();
    e.stopPropagation();

    let ebno = [[${dto.ebno}]];
    let link = [[${pageRequestDTO.getLink()}]];
    console.log(link);
    formObj.action = `/eventremove?${link}`;
    formObj.method = 'post';
    formObj.submit();

  }, false)

  document.querySelector(".listBtn").addEventListener("click", function (e) {
    e.preventDefault();
    e.stopPropagation();

    console.log(link);
    self.location = `/event?${link}`;

  }, false)

</script>

</html>